<%- include('../header') %>

<div class="container-fluid">
    <a class="btn btn-outline-success mt-3 mb-2" href="/categorias/nova">NOVA CATEGORIA</a>
    <a class="btn btn-outline-success mt-3 mb-2" href="/publicacoes/nova">NOVA PUBLICAÇÃO</a>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Categoria</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% if(categorias.length) { %>
                    <% categorias.forEach(categoria => { %>
                        <tr>
                            <td>
                                <%= categoria.categoria %>
                            </td>
                            <td>
                                <a class="btn btn-outline-info" href="/publicacoes/categoria/<%= categoria.id %>">Publicações</a>
                                <a class="btn btn-outline-primary" href="/categorias/editar/<%= categoria.id %>">Editar</a>
                                <a class="btn btn-outline-danger" href="/categorias/excluir/<%= categoria.id %>">Excluir</a>
                            </td>
                        </tr>
                    <% }) %>
                <% } else { %>
                    <tr>
                        <td class="text-center" colspan="2">Nenhuma categoria cadastrada.</td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

<%- include('../footer') %>